.main-nosotros{
    background-image: url(../assets/img/main-nosotros.jpg);
    height: 100%;
    p{
        color: black;
        font-size: 30px;
        font-family: coutore;
        border: groove;
        &:hover{
            font-size: 40px;
            color: rgb(6, 86, 234);
        }
}
}